{% extends "email/emailBase.html.twig" %}

{% block content %}
    <row>
        <columns>
            <p>{{ 'email.user.reset_password.content.intro'|trans({}, 'messages', locale) }}</p>
            <p>
                {{ 'email.user.reset_password.content.expires_in'|trans({
                    '%expires_in%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle', locale)
                }, 'messages', locale) }}
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button href="{{ url('app_reset_password', {token: resetToken.token}) }}">
                    {{ 'email.user.reset_password.content.button_text'|trans({}, 'messages', locale) }}
                </button>
            </center>
        </columns>
    </row>
{% endblock %}

