{% if app.environment == 'dev' %}
<div class="m-0 alert alert-danger" role="alert">
    <strong>Ceci est un environement de démo/test:</strong> Toute donnée enregistrée ici peut être supprimée à tout moment. Pour rapporter un bug, merci de contacter <a href="mailto:fabrice@insideweb.be" title="insideweb">Fabrice</a>
</div>
{% endif %}