{% if app.environment == 'dev' %}
<div class="m-0 alert alert-danger" role="alert">
    <strong>Vous êtes en mode test.</strong> Les données encodées seront supprimées régulièrement.<br>Pour des questions ou des bugs, merci de <a href="mailto:fabrice@insideweb.be" title="insideweb">me contacter</a>
</div>
{% endif %}