{% extends 'app/templates/base.html.twig' %}

{% block title %}Détails du projet{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-12">
            <div class="card card-body py-3">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="d-sm-flex align-items-center justify-space-between">
                            <h4 class="mb-4 mb-md-0 card-title">Détails du projet</h4>
                            <nav aria-label="breadcrumb" class="ms-auto">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item d-flex align-items-center">
                                        <a class="text-muted text-decoration-none d-flex" href="{{ path('app') }}">
                                            <iconify-icon icon="solar:home-2-line-duotone" class="fs-6"></iconify-icon>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item" aria-current="page">
                                        <a class="text-muted text-decoration-none d-flex" href="{{ ea_url()
                                            .setDashboard('App\\Controller\\Admin\\DashboardController')
                                            .setController('App\\Controller\\Admin\\ProjectCrudController')
                                            .setAction('index') }}">
                                            <iconify-icon icon="fa6-solid:diagram-project" class="fs-6 me-3"></iconify-icon> Projets
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item" aria-current="page">
                                            {{project.name}}
                                    </li>
                                    <li class="breadcrumb-item" aria-current="page">
                                          <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">
                                            Détails du projet
                                          </span>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ component('project_detail', {'project': project, 'locale': locale}) }}
{% endblock %}