{% extends 'app/templates/base.html.twig' %}

{% block title %}Stats{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-12">
            <div class="card card-body py-3">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="d-sm-flex align-items-center justify-space-between">
                            <h4 class="mb-4 mb-md-0 card-title">Les statistiques</h4>
                            <nav aria-label="breadcrumb" class="ms-auto">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item d-flex align-items-center">
                                        <a class="text-muted text-decoration-none d-flex" href="{{ path('app') }}">
                                            <iconify-icon icon="solar:home-2-line-duotone" class="fs-6"></iconify-icon></a>
                                    </li>
                                    <li class="breadcrumb-item" aria-current="page">
                                          <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">
                                            Les statistiques
                                          </span>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        {{ component('stats_sales_projects_month', {locale: app.request.locale}) }}
        {{ component('stats_sales_projects_year', {locale: app.request.locale}) }}
    </div>
{% endblock %}