{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}My Recap{% endblock %}

{% block main %}
    <div class="table-responsive">
        <h3>Field Events</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Société</th>
                <th scope="col">Date</th>
                <th scope="col">CA</th>
                <th scope="col">PA</th>
                <th scope="col">Marge Event</th>
                <th scope="col">Com Sales</th>
                <th scope="col">Marge Verhulst</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">arthur & Emilie </th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
        <h3>Sponsoring</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Société</th>
                <th scope="col">Date</th>
                <th scope="col">CA</th>
                <th scope="col">PA</th>
                <th scope="col">Marge Event</th>
                <th scope="col">Com Sales</th>
                <th scope="col">Marge Verhulst</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">arthur & Emilie </th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
        <h3>Package VIP</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Société</th>
                <th scope="col">Date</th>
                <th scope="col">CA</th>
                <th scope="col">PA</th>
                <th scope="col">Marge Event</th>
                <th scope="col">Com Sales</th>
                <th scope="col">Marge Verhulst</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">arthur & Emilie </th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
        <h3>Divers</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Société</th>
                <th scope="col">Date</th>
                <th scope="col">CA</th>
                <th scope="col">PA</th>
                <th scope="col">Marge Event</th>
                <th scope="col">Com Sales</th>
                <th scope="col">Marge Verhulst</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">arthur & Emilie </th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}