{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

    <article>
        <h1>Welcome Symfony 6 skeleton</h1>

        <p class="success">
            You have <strong>successfully installed EasyAdmin 4</strong> in your application.
        </p>
    </article>
{% endblock %}