{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="content-header-title">
        <h1 class="title">
            Dashboard Commercial
        </h1>
    </div>
{% endblock %}