<h5>{{ title }}</h5>
<table class="table table-hover">
    <tr><th>Action</th><th>Droit</th><th>Permission</th></tr>
{% for key, data in datas %}
    {% if key != "getVoters" %}
    <tr {% if data['granted'] %}class="alert alert-success"{% else %}class="alert alert-danger"{% endif %}>
        <td>{{ key }}</td>
        <td>{% if data['granted'] %}<i class="fa-solid fa-check fa-2x"></i>{% else %}<i class="fa-solid fa-xmark fa-2x"></i>{% endif %}</td>
        <td>{% if key in ea.crud.actionsConfig.disabledActions %}Disabled{% else %}{{ data['permission'] }}{% endif %}</td>
    </tr>
    {% endif %}
{% endfor %}
</table>