{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block main %}
    {% set field_layout = ea_create_field_layout(entity.fields) %}
    {% block detail_fields %}
        {% if field_layout.hasTabs %}
            {{ _self.render_detail_fields_with_tabs(entity, field_layout) }}
        {% else %}
            {% set col1 = [] %}
            {% set col2 = [] %}
            {% set last_col = null %}
            {% for field in field_layout.fields %}
                {% set col = field is null ? false : field.customOption('cols') %}
                {% if col is not null and last_col != col %}
                    {% if col == 1 %}
                        {% set col1 = col1|merge([field]) %}
                    {% endif %}
                    {% if col == 2 %}
                        {% set col2 = col2|merge([field]) %}
                    {% endif %}
                    {% set last_col = col %}
                {% else %}
                    {% if last_col == 1 %}
                        {% set col1 = col1|merge([field]) %}
                    {% endif %}
                    {% if last_col == 2 %}
                        {% set col2 = col2|merge([field]) %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-6">
                    {{ _self.render_detail_fields(entity, col1) }}
                </div>
                <div class="col-6">
                    {{ _self.render_detail_fields(entity, col2) }}
                </div>
            </div>

        {% endif %}
    {% endblock detail_fields %}

    {% block delete_form %}
        {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', { entity_id: entity.primaryKeyValue }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}