.sidebar-nav {
  ul {
    ul {
      .sidebar-item {
        &.selected > .sidebar-link.active,
        &.selected > .sidebar-link,
        > .sidebar-link.active {
          iconify-icon {
            color: var(--bs-primary);
          }
          &.has-arrow::after {
            border-color: var(--bs-primary);
          }
        }
      }
    }
  }
}
.sidebarmenu {
  .brand-logo,
  .sidebar-nav {
    width: 340px !important;
  }
}
@media (max-width: 1299.98px) {
  .side-mini-panel {
    left: -430px;
  }
}

select[data-controller="symfony--ux-autocomplete--autocomplete"] {
	&+ .ts-wrapper.form-select {
		padding: 0;
    background: none;

		> .ts-control {
			background: none;
		    border: none;
		}
	}
}