.sidebar-nav {
  ul {
    ul {
      .sidebar-item {
        &.selected > .sidebar-link.active,
        &.selected > .sidebar-link,
        > .sidebar-link.active {
          iconify-icon {
            color: var(--bs-primary);
          }
          &.has-arrow::after {
            border-color: var(--bs-primary);
          }
        }
      }
    }
  }
}
.sidebarmenu {
  .brand-logo,
  .sidebar-nav {
    width: 340px !important;
  }
}
@media (max-width: 1299.98px) {
  .side-mini-panel {
    left: -430px;
  }
}

select[data-controller="symfony--ux-autocomplete--autocomplete"] {
	&+ .ts-wrapper.form-select {
		padding: 0;
    background: none;

		> .ts-control {
			background: none;
      border: none;
      padding: 10px 38px 10px 16px;
		}
	}
}

@media (min-width: 992px) {
  .topbar {
    z-index: 99;
  }
  .with-vertical {
    display: none !important;
  }
  .with-horizontal {
    display: block !important;
  }
  html[data-layout=horizontal] .body-wrapper {
      margin-top: 145px;
      min-height: auto;
  }
  html[data-layout=horizontal] .sidebar-nav #sidebarnav {
    display: flex;
    width: 100%;
    margin: 0;
    gap: 3px;

    >.sidebar-item {
      position: relative;
      width: auto;
      margin-bottom: 0;
      min-height: 65px;
      border-bottom: 0;

      >.sidebar-link {
        margin: 0;
        gap: 10px;
        padding: 7px 10px;
        font-size: 14px;
        &.has-arrow {
          padding-right: 30px !important;
        }
      }
      
      >.has-arrow:after {
        transform: rotate(-135deg) translate(0, -50%);
        right: 9px;
        top: 15px;
      }

      .first-level {
        padding: 10px 0;
        border-radius: 7px;
        animation: menuDropdownShow .3s ease-in-out;
        transition: background-color .3s;
      }
      ul {
        position: absolute;
        left: 0;
        top: calc(65px - 10px);
        width: 240px;
        padding-bottom: 0;
        display: none;
        z-index: 100;
        box-shadow: 0 15px 30px rgba(0, 0, 0, .12);
        background: var(--bs-body-bg);
        transition: cubic-bezier(.075,.82,.165,1);
      }

      &:hover ul.first-level,
      &:hover ul.first-level.collapse {
        display: block;
      }
    }

    .badge,
    .nav-small-cap,
    .sidebar-footer,
    .user-pro {
      display: none;
    }
  }

  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }

  html[data-layout=horizontal] .left-sidebar {
    background-color: var(--bs-body-bg);
    border-top: 1px solid var(--bs-border-color);
    height: auto;
    padding-top: 6px;
    position: fixed;
    top: 70px;
    transition: 0s;
    width: 100%;
    z-index: 45;
  }
}


@media (min-width: 1300px) {
  html[data-layout=horizontal] .sidebar-nav #sidebarnav > .sidebar-item > .sidebar-link.has-arrow {
    padding-right: 35px !important;
  }
}
