<li class="nav-item d-none d-lg-flex align-items-center dropdown nav-icon-hover-bg rounded-circle">
    <div class="hover-dd">
        <a class="nav-link" id="drop2" href="javascript:void(0)" aria-haspopup="true" aria-expanded="false">
            <iconify-icon icon="iconoir:shortcut-square" width="48" height="48"></iconify-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-nav dropdown-menu-animate-up py-0 overflow-hidden" aria-labelledby="drop2">
            <div class="position-relative">
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-4 pb-3">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="position-relative">
                                        <a href="../main/app-chat.html" class="d-flex align-items-center pb-9 position-relative">
                                            <div class="bg-primary-subtle rounded round-48 me-3 d-flex align-items-center justify-content-center">
                                                <iconify-icon icon="pixelarticons:contact-plus" width="40" height="40"></iconify-icon>
                                            </div>
                                            <div>
                                                <h6 class="mb-0">Créer un contact</h6>
                                            </div>
                                        </a>
                                        <a href="../main/app-invoice.html" class="d-flex align-items-center pb-9 position-relative">
                                            <div class="bg-secondary-subtle rounded round-48 me-3 d-flex align-items-center justify-content-center">
                                                <iconify-icon icon="foundation:burst-sale" width="40" height="40"></iconify-icon>
                                            </div>
                                            <div>
                                                <h6 class="mb-0">Créer une vente</h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-none d-lg-flex">
                        <img src="{{ asset('build/matdash/assets/images/backgrounds/mega-dd-bg.jpg') }}" alt="mega-dd" class="img-fluid mega-dd-bg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>